<% provide(:title, "Home") %>

<div class="row">
  <div class="col-md-12">
    <img class='img-responsive' src="https://maps.googleapis.com/maps/api/staticmap?center=Yogyakarta,Indonesia&zoom=12&size=1200x200&scale=2&maptype=roadmap">
  </div>
</div>
<div class="row">
  <!-- looping ke semua place di dalam array @places -->
  <% @places.each do |place| %>
    <div class="col-md-3 place-item">
      <img src="http://placehold.it/200x150&text=Place%20Image" class="img-thumbnail">
      <h2><%= place.name %></h2>
      <p><%= truncate place.description, length: 50 %></p>
      <div class='pull-right'>
      	<img src="http://placehold.it/20x20" class="img-thumbnail">
      	<p>user</p>	
      </div>
    </div>
  <% end %>
</div>